*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #12c2e9;
    background: -webkit-linear-gradient(
      to left,
      #f64f59,
      #c471ed,
      #12c2e9
    );
    background: linear-gradient(
      to left,
      #f64f59,
      #c471ed,
      #12c2e9
    );
    font-family: "Poppins", sans-serif;
}

.section{
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    width: 450px;
    min-height: 450px;
    border-radius: 16px;
    padding: 20px 10px;
}

.title{
    text-align: center;
    padding: 12px 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

input{
    width: 90%;
    height: 36px;
    border: none;
    border-bottom: 1px solid gray;
}

input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(100, 100, 216);
}

input:active{
    border: none;
}

a{
    text-decoration: none;
    color: #12c2e9;
}

label{
    margin-top: 12px;
}

.container-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    gap: 20px;
}

.text{
    margin-top: 12px;
}

.button{
    background: #12c2e9;
    background: -webkit-linear-gradient(
      to left,
      #f64f59,
      #c471ed,
      #12c2e9
    );
    background: linear-gradient(
      to left,
      #f64f59,
      #c471ed,
      #12c2e9
    );
    color: white;
    font-weight: 700;
    border: none;
    width: 80%;
    padding: 10px 20px;
    border-radius: 16px;
}

.avatar{
        height: 64px;
        object-fit: cover;
        object-position: center;
        width: 64px;
}

@media (max-width: 768px){
    .section{
        width: 300px;
        min-height: 300px;
    }
}